<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Thêm thành phố</h2>
<form method="post" th:object="${city}">
    <table>
        <tr>
            <td>Tên:</td>
            <td> <input type="text" th:field="*{nameCity}">
            </td>
        </tr>
        <tr>
            <td><label >Quốc gia: </label></td>
            <td><select  id="country"  th:field="*{country}" >
                <option th:each="c:${country}" th:value="${c.id}" th:text="${c.name}"></option>
            </select></td>
        </tr>
        <tr>
            <td><label >Diện tích: </label></td>
            <td><input type="text" th:field="*{area}"></td>
        </tr>
        <tr>
            <td><label >Dân số: </label></td>
            <td><input type="text" th:field="*{population}"></td>
        </tr>
        <tr>
            <td><label >GDP: </label></td>
            <td><input type="text" th:field="*{gdp}"></td>
        </tr>
        <tr>
            <td><label >Giới thiệu: </label></td>
            <td><textarea  rows = "10" cols = "80" th:field="*{description}"></textarea></td>
        </tr>

    </table>
    <input type="submit" value="Nhập thành phố">
    <a th:href="@{/}">Thoát</a>
</form>
</body>
</html>